version: '3.2'


services:

  redis-sentinel:
    image: registry.int.mimikko.cn/redis-sentinel:${TAG:-latest}
    environment:
      - REDIS_IP=redis-zero
      - REDIS_MASTER_NAME=redismaster
    deploy:
      replicas: 3
    networks:
      - redis

  redis1:
    image: registry.int.mimikko.cn/redis-look:${TAG:-latest}
    environment:
      - REDIS_SENTINEL_IP=redis-sentinel
      - REDIS_MASTER_NAME=redismaster
      - REDIS_SENTINEL_PORT=26379
    deploy:
      replicas: 1
    networks:
      - redis
    ports:
      - "6380:6379"

  redis2:
    image: registry.int.mimikko.cn/redis-look:${TAG:-latest}
    environment:
      - REDIS_SENTINEL_IP=redis-sentinel
      - REDIS_MASTER_NAME=redismaster
      - REDIS_SENTINEL_PORT=26379
    deploy:
      replicas: 1
    networks:
      - redis
    ports:
      - "6381:6379"

  redis3:
    image: registry.int.mimikko.cn/redis-look:${TAG:-latest}
    environment:
      - REDIS_SENTINEL_IP=redis-sentinel
      - REDIS_MASTER_NAME=redismaster
      - REDIS_SENTINEL_PORT=26379
    deploy:
      replicas: 1
    networks:
      - redis
    ports:
      - "6382:6379"

networks:
  redis:
    external: true
