version: '3.2'

services:

  redis-sentinel1:
    image: registry.int.mimikko.cn/redis-sentinel:$TAG
    environment:
      - REDIS_MASTER_NAME=redismaster
      - REDIS_MASTER_IP=106.14.213.217
      - REDIS_MASTER_PORT=6379
    deploy:
      replicas: 1
    # networks:
    #   - redis
    ports:
      - "26380:26379"

  redis-sentinel2:
    image: registry.int.mimikko.cn/redis-sentinel:$TAG
    environment:
      - REDIS_MASTER_NAME=redismaster
      - REDIS_MASTER_IP=106.14.213.217
      - REDIS_MASTER_PORT=6379
    deploy:
      replicas: 1
    # networks:
    #   - redis
    ports:
      - "26381:26379"

  redis-sentinel3:
    image: registry.int.mimikko.cn/redis-sentinel:$TAG
    environment:
      - REDIS_MASTER_NAME=redismaster
      - REDIS_MASTER_IP=106.14.213.217
      - REDIS_MASTER_PORT=6379
    deploy:
      replicas: 1
#    networks:
#      - redis
    ports:
      - "26382:26379"

  redis1:
    image: registry.int.mimikko.cn/redis-look:$TAG
    environment:
      - REDIS_SENTINEL_IP=106.14.213.217
      - REDIS_SENTINEL_PORT=26380
      - REDIS_MASTER_NAME=redismaster
    deploy:
      replicas: 1
    # networks:
    #   - redis
    ports:
      - "6380:6379"

  redis2:
    image: registry.int.mimikko.cn/redis-look:$TAG
    environment:
      - REDIS_SENTINEL_IP=106.14.213.217
      - REDIS_SENTINEL_PORT=26381
      - REDIS_MASTER_NAME=redismaster
    deploy:
      replicas: 1
#    networks:
#      - redis
    ports:
      - "6381:6379"

  redis3:
    image: registry.int.mimikko.cn/redis-look:$TAG
    environment:
      - REDIS_SENTINEL_IP=106.14.213.217
      - REDIS_SENTINEL_PORT=26382
      - REDIS_MASTER_NAME=redismaster
    deploy:
      replicas: 1
    # networks:
    #   - redis
    ports:
      - "6382:6379"

# networks:
#   redis:
#     external: true
