version: '3.2'


services:

  redis-sentinel1:
    image: registry.int.mimikko.cn/redis-sentinel:${TAG:-latest}
    environment:
      - REDIS_IP=redis-zero
      - REDIS_MASTER_NAME=redismaster
      - REDIS_SENTINEL_NAME=redis-sentinel1
    deploy:
      replicas: 1
    networks:
      - redis
    ports:
      - "26380:26379"

  redis-sentinel2:
    image: registry.int.mimikko.cn/redis-sentinel:${TAG:-latest}
    environment:
      - REDIS_IP=redis-zero
      - REDIS_MASTER_NAME=redismaster
      - REDIS_SENTINEL_NAME=redis-sentinel2
    deploy:
      replicas: 1
    networks:
      - redis
    ports:
      - "26381:26379"

  redis-sentinel3:
    image: registry.int.mimikko.cn/redis-sentinel:${TAG:-latest}
    environment:
      - REDIS_IP=redis-zero
      - REDIS_MASTER_NAME=redismaster
      - REDIS_SENTINEL_NAME=redis-sentinel3
    deploy:
      replicas: 1
    networks:
      - redis
    ports:
      - "26382:26379"

  redis1:
    image: registry.int.mimikko.cn/redis-look:${TAG:-latest}
    environment:
      - REDIS_SENTINEL_IP=redis-sentinel1
      - REDIS_MASTER_NAME=redismaster
      - REDIS_SENTINEL_PORT=26379
    deploy:
      replicas: 1
    networks:
      - redis
    ports:
      - "6380:6379"

  redis2:
    image: registry.int.mimikko.cn/redis-look:${TAG:-latest}
    environment:
      - REDIS_SENTINEL_IP=redis-sentinel2
      - REDIS_MASTER_NAME=redismaster
      - REDIS_SENTINEL_PORT=26379
    deploy:
      replicas: 1
    networks:
      - redis
    ports:
      - "6381:6379"

  redis3:
    image: registry.int.mimikko.cn/redis-look:${TAG:-latest}
    environment:
      - REDIS_SENTINEL_IP=redis-sentinel3
      - REDIS_MASTER_NAME=redismaster
      - REDIS_SENTINEL_PORT=26379
    deploy:
      replicas: 1
    networks:
      - redis
    ports:
      - "6382:6379"

networks:
  redis:
    external: true
